<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

        <div style="height: 40%; width:100% ;  text-align: center; font-family: 'Times New Roman'; font-size: medium; border: thick 6px #000000; border-radius: 5px; font-weight: bold; background-color: darkgray; ">

            <a href="~/OgrenciIslemleri">Ogrenci Listesi |</a>
            <a href="~/OgrenciIslemleri/Add">Ogrenci Ekle |</a>
            <a href="~/OgrenciIslemleri/Delete">Ogrenci Sil |</a>
            <a href="~/OgrenciIslemleri/Update">Ogrenci Güncelle |</a>
            <a href="#">Ders Listesi |</a>
            <a href="#">Ders Ekle</a>



        </div>


        @RenderBody()
    </div>
</body>
</html>
